.sectionTitle{
    display: flex;
    justify-content:start;
    font-weight:660;
    font-size: 2vw;
    margin-left: 1.5vw;
}

@media(max-width:576px){

    .sectionTitle{
        display: flex;
        justify-content: center;
        font-weight:660;
        font-size: 3vh;
        
    }
}