.navbar-main{
    background-color: #362f33;
}
@media (max-width:576px) {
    .navbar-brand img {
        height: 5vh;
        
    }
    .navbar-toggler{
        background-color: #EC167F;
        
        
    }
    .navbar-toggler-icon{
       height: 3vh;
       width: 4vw;
    }
   
}
.list-name{
    color: White;
    font-weight: 600;
    border-bottom: 2px solid linear-gradient(#ff3366, #3399ff);
}
.main-btn{
    background-color: #EC167F;
    color: white;
    font-weight: 600;
}
.main-btn:hover{
    background-color: white;
    color: #EC167F;
    font-weight: 600;
}


#search-sub-heading{
    color:"white"
  }

.search-box{
    width: 600px;
}
.searchButton{
    background-color: #EC167F;
}

.search-main-div{
    padding-top: 70px;
}