.header-name {
    position: sticky;
    top: 0;
    width: 100%;
    /* Set your desired background color */
    z-index: 100; /* Set a higher z-index to ensure it appears above other elements */
    /* Add padding as needed */
    /* Add other styling as needed */
  }
  

.navbar-main{
    background-color: rgba(255, 255, 255, 0.1);
    
}

.navbar-main-rest{
    background-color: rgba(0, 0, 0, 0.76);
    
}
.navbar-main-scroll{
    background-color: rgba(0, 0, 0, 0.76);
    color: white;
}

.navbar-brand img {
    height: 6vh;
    
}
@media (max-width:576px) {
    .navbar-brand img {
        height: 5vh;
        
    }
    .navbar-toggler{
        background-color: #EC167F;
        
        
    }
    .navbar-toggler-icon{
       height: 3vh;
       width: 4vw;
    }
   
}

@media (max-width:992px) {
    .navbar-main{
        background-color:grey;
        
    }

        .navbar-toggler{
        background-color: #EC167F;
        
        
    }
    
}
.list-name{
 
}
.main-btn{
    background-color: #EC167F;
    color: white;
    font-weight: 600;
    text-decoration: none;
}
.main-btn-link{
    color: white; 
    text-decoration: none;
}

.main-btn-link:hover{
    color: #EC167F; 
 
}

.main-btn:hover{
    background-color: white;
    color: #EC167F;
    font-weight: 600;
}


#search-sub-heading{
    color:"white"
  }

.search-box{
    width: 600px;
}
.searchButton{
    background-color: #EC167F;
}

.search-main-div{
    padding-top: 70px;
}
.list-name{
    color: white;
    font-weight: 600;
}
.custom-link {
    text-decoration: none;
    color: white;
    border-bottom: none;
    font-weight: 600;   
  }
  
  .custom-linkactive {

    text-decoration: none;
    color: #EC167F;
   
  }
 