.navbar-main{
    background-color:rgb(77,0,57);
    
}

.navbar-brand img {
    height: 6vh;
    
}
@media (max-width:576px) {
    .navbar-brand img {
        height: 5vh;
        
    }
    .navbar-toggler{
        background-color: #EC167F;
        
        
    }
    .navbar-toggler-icon{
       height: 3vh;
       width: 4vw;
    }
   
}
.list-name{
 
}
.main-btn{
    background-color: #EC167F;
    color: white;
    font-weight: 600;
}
.main-btn:hover{
    background-color: white;
    color: #EC167F;
    font-weight: 600;
}


#search-sub-heading{
    color:"white"
  }

.search-box{
    width: 600px;
}
.searchButton{
    background-color: #EC167F;
}

.search-main-div{
    padding-top: 70px;
}
.list-name{
    color: white;
    font-weight: 600;
}
.custom-link {
    text-decoration: none;
    color: white;
    border-bottom: none;
    font-weight: 600;   
  }
  
  .custom-linkactive {

    text-decoration: none;
    color: #EC167F;
  }
 