.banner{
    background-image: url('../../images/Banner.png');
    background-size: cover;
    background-position: center;
    height: 10vw;
    border-radius: 1vw;
}

@media (max-width:576px) {
    .banner{
        background-image: url('../../images/Banner.png');
        background-size: cover;
        background-position: center;
        height: 13vw;
        border-radius: 1vw;
    }
}